@model LoginForm.ViewModels.ChangeAccountPasswordViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Change Account Password</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        p {
            margin-bottom: 0px;
        }

        .d-block {
            border: none;
            border-bottom: 2px solid blue;
            margin: 24px;
        }

            .d-block:focus {
                outline: none;
            }

        p {
            margin-bottom: 0px;
            display: inline;
            font-size: 21px;
        }
    </style>
</head>
<body style="background-color: background:rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(134,134,219,1) 0%, rgba(0,212,255,1) 100%);">

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <form asp-action="ChangeAccountPassword" asp-controller="Home" method="post" style="margin-left: 37%;margin-top: 8%;display: inline-block">
        <div style="background-color: white;border-radius: 15px">
            <p style="margin-left: 13%;color: blue;font-weight: 900;">Change</p><p>Your Password</p>
            <input asp-for="UserName" class="d-block" placeholder="UserName" /> <span asp-validation-for="UserName"></span>
            <br />
            <input asp-for="OldPassword" class="d-block" placeholder="Password" /> <span asp-validation-for="OldPassword"></span>
            <br />
            <input asp-for="NewPassword" class="d-block" placeholder="FirstName" /> <span asp-validation-for="NewPassword"></span>
            <br />
            <input class="btn btn-success" type="submit" value="Change Password" style="margin-left: 11%;margin-left: 18%;width: 160px;" />
            <br />
            <span>@ViewBag.Message</span>
        </div>
    </form>
</body>
</html>

